.cards{
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card{
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
  margin: 15px;
  padding: 20px;
}

.card p {
  color: gray;
}
