.footer{
  background-color: #2C2B2B;
  height: 170px;
  text-align: center;
  padding-top: 50px;
  color: gray;
}

.icon {
  display: inline;
  font-size: 30px;
  color: #1EDD88;
  padding-right: 6px;
}

.footer p i {
  color: red;
}
